*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.s-1 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header header {
  display: flex;
  justify-content: space-evenly;
}
header a {
  color: red;
  margin-left: 50px;
  padding-bottom: 50px;
}
header a:hover {
  color: blueviolet;
}

nav {
  width: 180px;
}
nav ul {
  display: flex;
  color: #343638;
}
nav ul:hover {
  color: blueviolet;
}
nav li {
  padding-right: 50px;
}

nav {
  margin-left: 200px;
  font-size: 11px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(246, 243, 243);
}

.s-1 {
  display: flex;
  justify-content: space-evenly;
  max-width: 1170px;
  width: 100%;
}
.s-1 p {
  font-size: 13px;
  font-weight: normal;
  line-height: 23px;
  font-style: normal;
  text-align: left;
  color: #a6adb4;
  padding-top: 50px;
  padding-left: 40px;
}

.s-2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.s-2 .hpn-now {
  padding-bottom: 40px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.trending {
  display: block;
  max-width: 1170px;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
  margin-bottom: 40px;
}

.card-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  background-color: white;
}

.card-wrapper-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.c1-img {
  max-width: 1170px;
  width: 100%;
  padding-bottom: 40px;
  background-color: white;
}

.c2-img {
  max-width: 1170px;
  width: 100%;
  padding-top: 80px;
  padding-left: 30px;
}

.lorem {
  width: 300px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
}
footer a {
  color: white;
  padding-bottom: 7px;
}
footer .foot-a {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  font-family: "Roboto", sans-serif;
}
footer .logo-2 {
  font-size: 50px;
  color: white;
  display: flex;
  margin-top: 58px;
  font-family: "Acumin Pro";
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.footer-end {
  border-style: dotted;
  background: #a6adb4;
  border-color: black;
  width: 100%;
  height: 200px;
}/*# sourceMappingURL=global.css.map */